@import "../../utils/mixins.scss";
@import "../../utils/variables.scss";
.coop-label{
    padding: map-get($spacing-mobile, "m" );
    width: 90%;
    margin: 24px auto;
    border-bottom: gray 0.5px solid;

    h2,p{
        color: map-get($colors, "fonts" );
    }  
}